@media screen and (min-width: 768px) {
    .img-height{
        height: 370px !important;
    }
    .container{
        width: 50% !important;
    }
}

tr th{
    height: 70px !important;
}

tr td{
    height: 50px !important;
}
